<body>

<header>
       <h1>{{h1Title}}</h1>
       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/about">about us</a></li>
           <li><a href="/contact">contact us</a></li>
           <li><a href="/weather">Weather</a></li>
       </ul>

</header>