{{>head}}
{{>header}}
<div class="content">
    {{!-- <p>{{content}}</p> --}}
    <div class="temratureWrapper">
        <div id="locationPlace"></div>
        <div id="temperaturePlace"></div>
        <div>
            <img id="icon" src="" alt="">

        </div>
    </div>
    <form id="formWeather">
        <input type="text" name="city" placeholder="Enter Location...">
        <input type="submit" value="Search">
    </form>
</div>



{{>footer}}